<%= form_for @user do |f| %>
	<table id="edit_user_table">
		<tr>
			<td><%= @user.email %></td>
			<td><%= select_tag(:user_type, options_for_select([['Regular', 1], ['Admin', 2]], @user.user_type)) %></td>
		</tr>
			<td><%= f.submit %></td>
		</tr>
	</table>
<% end %>
