<div id="user_tools">
	<table class="cool_table">
	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= link_to 'Edit', edit_user_path(user), { :style => 'color: white', :class => 'styled' } %></td>
			<td><%= link_to 'Destroy', user, :confirm => 'Are you sure you you want to destroy this user?', :method => :delete, :style => 'color: white', :class => 'styled' %></td>
		</tr>
	<% end %>
</table>
</div>


