<div class="home_hedge_planner">
  <h2>Hedge Planner</h2>
  <%= render 'hedge_planner/form' %>
</div>

<div id="info">
	<h1>About the Boxwood Genus</h1>
	<p>The Boxwood (or Buxus) genus contains around 70 species from the Buxaceae family. These evergreen shrubs and small trees can grow up to 45 feet tall. Most Boxwood trees are grown for hedges or topiary but the wood is also excellent for wood working. The small grain size and high density make it split resistant and will not chip like many other woods. Chess pieces are often made of boxwood for these reasons. May pieces of wood instruments are made from boxwood so they can have fine shapes and details without splitting into pieces.</p>

</div>

<div class="home_images">
	<%= image_tag "6.jpeg", {:height => 300} %>
</div>

<div class="other_picture">
	<%= image_tag "5.jpeg", {:height => 300} %>
</div>
