
<div id="info">
	<h1>About the Boxwood Genus</h1>
	<p>The Boxwood (or Buxus) genus contains around 70 species from the Buxaceae family. These evergreen shrubs and small trees can grow up to 45 feet tall. Most Boxwood trees are grown for hedges or topiary but the wood is also excellent for wood working. The small grain size and high density make it split resistant and will not chip like many other woods. Chess pieces are often made of boxwood for these reasons. May pieces of wood instruments are made from boxwood so they can have fine shapes and details without splitting into pieces.</p>
</div>

<div id="home_picture">
	<%= image_tag "5.jpeg", {:height => 300} %>
</div>

<div id="about_this_site">
	<h1>About this site</h1>
	<p>Trees are so cool. Those little mother fuckers grow all tall 'n shit. What the fuck is up with that? Man, I really need some text here that describes what this site is for but I better leave that to the guy who's going to be in charge of that sort of thing, right? <br /><br />Well, I need something here though or I won't be able to get a good idea of what this will all look like when it's full of content. Shit.. I guess I could have just copied/pasted one of the millions of junk e-mails in my inbox. <br /><br />Oh well, See.. this site is going to be a place for people to share their knowledge about Boxwood trees and others will come here to learn all about that. There's got to be a huge market for that right? Ah.. .well. Whatever. It's going to be fun either way. </p>
</div>
