
<div class="how_to_order">
	<p>Currently we have no method for charging online so if you fill out an order form here we can call or email you to discuss delivery, irrigation plans and payment.</p>

<%= render 'form' %>
<%= link_to 'Back', orders_path, :style => "background-color: #debf68" %>
