
<div id="how_to_order">
	<p>Currently we have no method for charging online so if you fill out an order form here we can call or email you to discuss delivery, irrigation plans and payment.</p>
</div>

<div id="order_form">
<%= render 'form' %>
<%= link_to 'Back', orders_path, :style => "background-color: #debf68" %>
</div>
