<% @categories.each do |category| %>
	<table class="cool_table">
		<tr>
			<th class="white"><%= category[0] %><td>
		</tr>
		<% @links.each do |link| %>
			<% if link.category_id == category[1] then %>
				<tr>
					<td class="cool_table_data"><%= link_to link.link_text, link.url, { :style => 'color: white', :class => 'styled' } %></td>
				</tr>
			<% end %>
		<% end %>
	<% end %>
</table>
	
