<div id="add_product">
	<p>Fill in the details for the product you want to add to the inventory.</p>
</div>

<div id="add_product_form">
	<%= render 'form' %>
	<%= link_to 'Cancel', admin_products_path %>
</div>	
