#admin_header {
	position: relative;
	text-align: center;
}

#admin_tools {
	text-aling: center;
	position: relative;
	left: 220px;
}

td.tool_links {
	padding: 15px;
	height: 30px;
	background-color: #30192B;
	text-align: center;
}

#admin_info {
	text-align: center;
	color: white;
	background-color: #30192B;
	border-stlye: solid;
	border-color: pink;
	border-width: 3px;
	padding: 5px;
	border-radius: 15px;
	position: relative;
	top: -20px;
}

a.admin {
	font-size: x-large;
}
