/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#content {
	background-color: Gainsboro;
  position: relative;
	top: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #584058;
	padding: 20px;
	margin: 0 0 150px 0;
}


#logo {
	position: relative;
	left: 150px;
}


body {
	background-color: Gainsboro;
	width: 1000px; 
	padding: 0 200px;
}


#links {
	width: 850px;
	background-color: white;
	position: relative;
	top: 40px;
	left: 130px;
	z-index: 0;	
}

#link_list {
	list-style: none;
	list-style-position: inside;
}

li.button {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	padding: 5px;
	font: black;
	font-weight: 900;
	background-color: #B0B0B0;
	border-style: solid solid none;
	border-width: 1px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius:0;
	display: inline;
}

h1.page_header {
	color: black;
	z-index: 5;
}


#login {
	position: absolute;
	left: 1300px;
	z-index: 1;
}

#info {
	width: 200px;
	padding: 0 20px;
}
