/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#content {
	border-style:solid;
	border-width: 10px;
	background-color: #73C74A;
}

#logo {
	position: relative;
	left: 300px;
}


body {
	/* background: url(side.jpeg); 
	background-repeat: repeat-y; */
	background-color: green;
}

#links {
	margin: 20px 0 ;
	width: 500px;
	background-color: white;
	position: relative;
	left: 470px;
	
}

li.button {
	border-style: double solid double solid;
	display: inline;
}


#nostyle {
	list-style: none;
	display: inline;
	list-style-position: inside;
	width: 400px;
}

#info {
	border-width: 5px;
	border-style: double solid;
	border-color: #002900;
	background-color: #C1D6C1 ;
	margin: 9% 50% 0 20 px;
	padding: 10px 10px 10px 10px;
	position: relative;
	left: 75px;
	top: -280px;
	width: 270px;
}

table.requests {
	background-color: white;
	border-style: solid;
 	border-width: medium;	
	border-color: black;
	position: relative;
	left: 20px;
	top: 10px;
}

h1.page_header {
	margin: 10% 0 0 0;
	color: black;
}

.hedge_results {
	border-style:solid;
	border-color: black;
	border-width: 5px;
}

#show_order {
	background-color: white;
	margin: 90px 20px 0 0;
}

.hedge_planner {
	margin: 10px;
	width: 200px;
	background-color: white;
}

#planner {
	color: #003300;
	background-color: #C1D6C1 ;
	border-style: double solid;
	border-width: 10px;
	border-color: #002900;
	padding: 10px;
	position: relative;
	left: 530px;
	top: -380px;
	width:250px;
}

.planner_instructions {
	position: relative;
	left: 200px;
	top: 30px;
	width: 300px;
}

#hedge_plan_header {
	position: relative;
	left: 540px;
	top: 30px;
}

.home_hedge_planner {
	border-style: solid;
	border-color: black;
	position: relative;
	left: 1100px;
	top: -25px;
	width: 210px;
}

.home_images {
	position: relative;
	top: -620px;
	left: 400px;
	display:inline;
}

.other_picture {
	position: relative;
	top: -924px;
	left: 650px;
}


