// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart {
	padding: 45px;
	position: relative;
	float: right;
}

#cart_controls {
	text-align: center;
	position: relative;
}

tr.pretty_row {
	color: DarkSlateBlue;
	background-color: Lavender;
}

#cart_table {
	width: 450px;
	background-color: #D8D8D8;
	border-style: solid;
	border-width: 2px;
}
 
#cart_header {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	position: relative;
	text-align: center;
}


#catalog_table {
	text-align: center;
	position: relative;
	left: 50px;
	width: 400px;
	z-index: 1;
	padding: 10px;
	margin: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: #99CC99;
}

#cart_indicator {
	position: relative;
	float: right;
  top: -25px;
	left: -240px;
	z-index: 300;
}

li.horizontal {
	display: inline;
	list-style: none;
  padding: 10px;	
}

td.data {
	text-align: right;
}

#list {
	color: DarkSlateGrey;
	background-color: white;
}

#order_form {
	margin: 40px;	
} 
