// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart_controls {
	position: relative;
	left: 40px;
}

#cart {
	position: relative;
	left: 340px;
}
 
#cart_header {
	position: relative;
	left: 50px;
}

#catalog {
	position: relative;
	left: 100px;
}
