// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart_controls {
	position: relative;
	left: 40px;
}

#cart {
	position: relative;
	left: 340px;
}
 
#cart_header {
	position: relative;
	left: 450px;
}

#catalog_container {
	position: absolute;
}

#catalog {
	position: relative;
	left: 100px;
}

#cart_indicator {
	z-index: 1;
	position: absolute;
	top: -200px;
	left: -5px;dex: 1;
}

ul.horizontal {
	display: inline;
	list-style: none;
}
