// Place all the styles related to the HedgePlanner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#hedge_plan_header {
	text-align: center;
}

#planner_instructions {
	position: relative;
	top: 40px;
	width: 400px;
	margin: 0 0 0 30px;
}

#planner {
	position: relative;
	top: -200px;
	left: 550px;
}

#plan_flash {
	margin: 20px;
	padding: 20px;
	width: 300px;
	font-size: x-large;
	border-style: solid;
	border-color: black;
	border-width: 20px;
	position: relative;
	float: right;
	top: -20px;
}

