// Place all the styles related to the HedgePlanner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#hedge_plan_header {
	text-align: center;
}

#planner_instructions {
	position: relative;
	top: 40px;
	left: 130px;
	width: 400px;
}

#planner {
	position: relative;
	top: -200px;
	left: 650px;
}
