// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#info {
	position: relative;
	text-align: center;
	padding: 20px;
	margin: 20px;
	color: white;
	background-color: #003300;
	border-stlye: solid;
	border-width: 3px;
	border-radius: 5px;
	width: 250px;
}

#home_picture {
	position: relative;
	left: 500px;
	top: -400px;
	border-style: solid;
	border-color: #002400;
	border-width: 2px;
	border-radius: 5px;
	width: 402px;
	height: 300px;
}

#about_this_site {
	position: relative;
	text-align: left;
	margin: 20px 0 -600px 0;
	padding: 20px;
	top: -300px;
	color: white;
	background-color: #003300;
	margin: 10px 0px;
}
