// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#info {
	float: left;
	position: relative;
	text-align: center;
	padding: 20px;
	margin: 20px;
	color: white;
	background-color: #003300;
	border-stlye: solid;
	border-width: 3px;
	border-radius: 5px;
	width: 250px;
}

#home_picture {
	float: left;
	position: relative;
	top: -20px;
	margin: 90px;
	border-style: solid;
	border-color: #002400;
	border-width: 2px;
	border-radius: 5px;
	width: 402px;
	height: 300px;
}

#about_this_site {
	position: relative;
	top: -40px;
	text-align: center;
}
