#side_bar_links {
	width: 165px;
	position: relative;
  top: 40px;
	left: 15px;
	background-color: greenyellow;
	border-style: solid;
	border-width: 1px;
	border-color: #002400;
	padding: 15px;
}

a.styled {
	font: black;
} 
