#side_bar_links {
	width: 190px;
	position: relative;
	left: 15px;
	background-color: gainsboro;
	border-style: solid;
	border-width: 1px;
	border-color: #002400;
	padding: 15px;
}

a.styled {
	font: black;
} 
