.products_list {
	position: relative;
	left: 55px;
	boder-style: solid;
	border-width: 5px;
	border-color: red;
}

.admin_links {
	position: relative;
	left: 140px;
}
#admin_index_header {
 position: relative;
 left: 60px;
}

.table_heading {
	weight: heavy;
}

.product_line0 {
	background: #B1E1C6;
}

.product_line1 {
	background:#F5FFFA;
}

div.field {
	padding: 15px;
	width: 350px;
	background-color: #003300;
}

#product_edit_form {
	position: relative;
	margin: 30px;
}

#manage_products_table {
	margin: 0 0 20px 0;
}
