.admin_tools {
	position: relative;
	left: 55px;
	boder-style: solid;
	border-width: 5px;
	border-color: red;
}

.admin_links {
	position: relative;
	left: 140px;
}
#admin_index_header {
 position: relative;
 left: 60px;
}

.table_heading {
	weight: heavy;
}

.product_line0 {
	background:#FFE4B5;
}

.product_line1 {
	background:#F5FFFA;
}

