<%= link_to "Add category", new_category_path %>

<% @categories.each do |category| %>
	<table class="cool_table">
		<tr>
			<td class="cool_table_data"><%= category.name %></td>
			<td class="cool_table_data"><%= link_to "Edit", edit_category_path(category), :style => 'color:white' %></td>
			<td class="cool_table_data"><%= link_to "Destroy", category, :confirm => 'Are you sure you want to destroy this category? It might remove all the links in it as well.', :method => :delete, :style => 'color:red' %></td>
		</tr>
<% end %>
</table>
