<% @categories.each do |category| %>
	<table id="category_table">
		<tr>
			<td><%= category.name %></td>
			<td><%= link_to "Edit", edit_category_path(category) %></td>
			<td><%= link_to "Destroy", category, :confirm => 'Are you sure you want to destroy this category? It might remove all the links in it as well.', :method => :delete %></td>
		</tr>
<% end %>
</table>
